*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;      
}

.header {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(38, 38, 36, 0.301), rgba(29, 30, 29, 0.581)),url(images/h12-banner.jpg);
    background-position: center;
    background-size: cover;
    position: relative;

}

.header nav img {

    width: 90px;

}

nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

.h-buttons{
    flex: 1;
    text-align: right;

}

.h-buttons ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative

}

.h-buttons ul li a{
    color: #f0eeee;
    text-decoration: none;
    font-size: 20px;
}

.h-buttons ul li::after{
    content:'';
    width: 0%;
    height: 4px;
    background: #36f472;
    display: block;
    margin: auto;
    transition: 0.4s;
}

.h-buttons ul li:hover::after{
    width:100%;
}

.text-box{
    width: 90%;
    color: #ffffff;
    position: absolute;
    top: 50%;
    LEFT: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

}

.text-box h1{
    font-size: 62px;
}

.text-box p{
    margin: 10px 0 40px;
    font-weight: bold;
    font-size: 15px;
    color: white;
}

.main-btn{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}

.main-btn:hover{
    border: 1px solid #2166f2;
    background:#2166f2;
    transition: 0.5s;


}

nav .fa {
    display:none;
}

nav .fa-solid {
    display:none;
}


@media(max-width: 700px){
    .text-box h1{
        font-size: 20px;
    }

    .h-buttons ul li
    {
        display: block;
    }

    .h-buttons{
        position: absolute;
        background: #f44336;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
        
    }

    nav .fa{
        display:block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }

    nav .fa-solid{
        display:block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }

    .h-buttons ul{
        padding: 30px;


    }

}

/*---- Programs Section -----*/

.programs{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 36px;
    font-weight: 600;
}

p{
    color: #040404;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;

}

.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;

}

.programs-col{
    flex-basis: 28%;;
    background-color: #6c989491;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing:content-box;
    transition: 0.5s;
}

h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}

.programs-col:hover{
    box-shadow: 2px 2px 20px 3px rgba(0, 0, 0, 0.412);
}

@media(max-width: 700px) {
    .row{
        flex-direction: column;

    }
    
}


/*-----Campus----*/

.campus{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}

.campus-col{
flex-basis: 32%;
border-radius: 15px;
margin-bottom: 30px;
position: relative;
overflow: hidden;
}